@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images__section {
  display: flex;
  justify-content: center;
}

.home-container {
  background-image: url("./images/mountains-and-river.jpg");
  background-size: cover;
  height: 100%;
  padding: 16px;
}
.home-container header {
  height: 40%;
  width: 100%;
}
.home-container nav {
  display: flex;
}
.home-container .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-container .nav-container figure {
  max-height: 23px;
}
.home-container .home-container__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  height: 100%;
  gap: 40px;
  padding-bottom: 40px;
}
.home-container .home-container__title h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}
.home-container .home-container__title h2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: lighter;
}
.home-container main {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.home-container main form {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-around;
  margin-top: 50px;
  border-radius: 20px 20px 0px 0px;
  padding: 0px 10px;
}
.home-container main form label {
  color: #767e86;
  padding: 15px;
}
.home-container main form input {
  border: none;
  color: #172432;
  padding: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.home-container main button {
  border: none;
  background: none;
  background-color: #ff7757;
  color: white;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav__links {
  opacity: 0%;
}

/*# sourceMappingURL=styles.css.map */
